*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    scroll-behavior: smooth;
    
  
}


#mainNavbar .navbar {
 padding:0.5rem;
}



@media screen and (max-width:769px){
    .navbar-nav .nav-item{
       margin: 0 auto;
    }
}
.navbar-nav .nav-item li a{
    color: red;
}

.navbar-brand{
    font-family: 'Barlow', sans-serif;
font-weight: 700;
}

#wrap-hero{
    background:url(images/desktop/image-header.jpg);
    min-height: 80vh;
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
}

.hero-content{
    display:flex;
    justify-content:center;
    text-align:center;
}

.hero-content h2{

 padding-top: 7.5rem;
 color: white;
 font-size: 2.8rem;
 font-family: 'Fraunces', serif;
 font-weight: 900;
 letter-spacing: 5px;
 text-transform: uppercase;
 
}

.arrow{
    display:flex;
    justify-content:center;
    padding-top:2.5rem;
    height:10rem
}

.white-button  {
margin: auto ;
	
}
#mainNavbar .navbar-brand{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    
}
.navbar .navbar-nav .nav-item .white-button  {
    background-color:#ffffff;
   
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:9px 18px;
	text-decoration:none;
}

.navbar .navbar-nav .nav-item .white-button:hover{
    background-color:#a4c5f8;

}

.navbar .navbar-nav .nav-item {
    color: white;
    padding: 0rem 1rem;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 0.9rem;
    
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: rgb(255, 0, 0);
    
}
/* end of nav and hero section */

/* Beginning of transform section */


#transform {
    min-height: 80vh;
   
}
.transform-wrap {
    display: flex;
    flex-wrap: wrap;

}

.transform-content{
    width: 50%;
flex:  1 1 25rem;
display: flex;
flex-wrap: nowrap;
justify-content: center;
padding: 4rem 0;


}

.transform-img  {
    background: url(images/desktop/image-transform.jpg);
  
    flex: 1 1 25rem;  
    width: 100%;
  height: 40rem;
  background-size: 100% 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
@media screen and (max-width: 769px){
    .transform-img{
        order: 1;
    }
}

@media screen and (max-width: 769px){
    .transform-img,.msg-img{
        height: 20rem;
    }
}
.transform-text{
    align-self: center;
    width: 60%;
    margin: 0 auto;

}

@media screen and (max-width: 769px){
    .transform-content{
        order: 2;
    }
}

@media screen and (max-width: 647px){
    .transform-text {
        justify-content: center;
        text-align: center;
        text-align: center;
        width: 90%;
    }
}


.transform-text h2{
   font-size: 3rem;
  font-family: 'Fraunces', serif;
  margin: 1.5rem 0;
 }

 @media screen and (max-width: 647px){
    .transform-text h2 {
        font-size: 2.5rem;

    }
}

 .transform-text p{
     color: rgb(0, 0, 0, 0.4);
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    line-height: 2rem;
   
  }

  .transform-text a{
    color: rgb(0, 0, 0);
    list-style: none;
   font-size: 1rem;
   font-family: 'Fraunces', serif;
   font-weight: 700;
   line-height: 2rem;
   text-decoration: none;
   text-transform: uppercase;
   border-bottom: solid rgb(255, 255, 0, 0.5) 7px;
  
 }


/* End of transform section */



/* Start msg section */


.msg-wrap {
    display: flex;
    flex-wrap: wrap;

}

.msg-content{
    padding: 4rem 0;
    width: 50%;
flex:  1 1 25rem;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

.msg-img  {
    background: url(images/desktop/image-stand-out.jpg);
  
    flex: 1 1 25rem;  
    width: 100%;
  height:40rem ;
  background-size: 100% 100%;
object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
@media screen and (max-width: 769px){
    .msg-img{
        height: 20rem;
    }
}


.msg-text{
    align-self: center;
    width: 60%;
    margin: 0 auto;
}


.navbar.scrolled {
    background: rgba(79, 153, 238, 0.9);
    transition: background 600ms;
  }

  
.msg-text h2{
   font-size: 3rem;
  font-family: 'Fraunces', serif;
  margin: 1.5rem 0;
 }
 @media screen and (max-width: 647px){
    .msg-text {
        justify-content: center;
        text-align: center;
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width: 647px){
    .msg-text h2 {
        font-size: 2.5rem;
    }
}
 .msg-text p{
     color: rgb(0, 0, 0, 0.4);
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    line-height: 2rem;
   
  }

  .msg-content a{
  
    color: rgb(0, 0, 0);
    list-style: none;
   font-size: 1rem;
   font-family: 'Fraunces', serif;
   font-weight: 700;
   line-height: 2rem;
   text-decoration: none;
   text-transform: uppercase;
   border-bottom: solid rgb(255, 190, 201, 0.5) 7px;
  
 }

/* END msg section */

/* start info section  */
.info-section{
    display: flex;
}
.info-wrap{
    display: flex;
    flex-wrap: wrap;
}

.cherry-img{
    
    padding: 1rem 0;
    background: url(images/desktop/image-graphic-design.jpg);
    flex: 1 1 25rem;  
    width: 100%;
  height:40rem ;
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
}

@media screen and (width: 647px){
    .cherry-img{
        order: 1;
    }
}



.cherry-text{
    
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom:auto ;
}
.cherry-text h2{
    color: rgb(0, 0, 0, 0.5);
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    margin: 1.5rem 0;
}
.cherry-text p{

    color: rgb(0, 0, 0, 0.4);
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    line-height: 2rem;

}

 

.orange-img{
    padding: 1rem 0;
    background: url(images/desktop/image-photography.jpg);
    flex: 1 1 25rem;  
    width: 100%;
  height:40rem ;
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
}

.orange-text{
    align-self: flex-end;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom:auto ;
}
/* media query for text for orange and cherry text */
@media screen and (max-width: 647px){
    .orange-text, .cherry-text{
        width: 85%;
        margin: 0 auto;
    }
}

/* media query for width of cherry and orange h2*/
@media screen and (max-width: 749px){
    .orange-text h2, .cherry-text h2{
        font-size: 2.5rem;
    }
}
.orange-text h2{
    color: rgb(0, 0, 0, 0.5);
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    margin: 1.5rem 0;
}
.orange-text p{

    color: rgb(0, 0, 0, 0.4);
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    line-height: 2rem;
}

/* Start of testimonials section*/


#testimonials {
    padding: 4.5rem 0 ;
    justify-content: center;
    text-align: center;
    padding: 6rem 0;
}
@media screen and (max-width: 749px){
    #testimonials{
        padding: 2rem 0;
    }
}

#testimonials h3{
    color: rgb(3, 3, 3,0.3);
    letter-spacing: 0.3rem;
    padding:3rem 0 3rem 0 ;
    justify-content: center;
    text-align: center;
    font-family: 'Fraunces', serif;
}

.testimonial-box{
    padding:.5rem 0;
    margin: 0.2rem auto ;
  
   width:22rem;
text-align: center;
align-items: center;
align-items: center;


}



.testimonial-box img{
    font-family: 'Fraunces', serif;
    border-radius: 50%;
    height: 5rem;

   
}



.testimonial-box p{
    font-family: 'Fraunces', serif;
    color:rgb(0, 0, 0, 0.5);
    padding: 2rem 0;
    

    
}
.testimonial-box h2{
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    padding: 2rem 0 .1rem 0;

    
}

.testimonial-box span{
    color: rgba(100, 100, 100, 0.8);
   font-size: 0.8rem;
    padding: 2.5rem 0;

    
}



.milk{
    background: url(images/desktop/image-gallery-milkbottles.jpg);
    height: 27rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.orange{
    background: url(images/desktop/image-gallery-orange.jpg);
    height: 27rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    
}
.squares{
    background: url(images/desktop/image-gallery-cone.jpg);
    height: 27rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.cone{
    background: url(/images/desktop/image-gallery-sugarcubes.jpg);
    height: 27rem;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

#bottom-section{
    padding: 3rem 0;
    background-color:hsl(168, 34%, 41%)
}

#bottom-section .bottom-text h2{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;

}

.bottom-content ul{
    display: flex;
    justify-content: center;
   
}

.bottom-content ul li{

   padding: 1.5rem;
   text-decoration: none;
   list-style: none;
  
}
   .bottom-content ul li a{ 

    color: rgb(27, 51, 44);
    text-decoration: none;
    list-style: none;
   
 }
 .bottom-content ul li a:hover{
     color: white;
 }
 .bottom-content div.social { 
    margin: auto 0 ;
justify-content: center;
text-align: center;
padding: 0 .5rem ;
  
}

 .bottom-content div.social a{ 
padding: 0 .5rem ;
color: rgb(27, 51, 44);
text-decoration: none;

 }

 .bottom-content div.social a:hover{
     color: white;
     text-decoration: none;
 }

